.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button{

    transition:.25s;

    &:hover{

        transform:scale(1.03);

    }

}